/*! CUSTOM PROPERTIES */

:root{
    --blue: rgb(45,100,230);
    --darkblue: rgb(0,67,156);
    --darkerblue: rgb(22,28,59);
    --gray: rgb(130,130,130);
    --darkgrey: rgb(31,31,31);
    --lightgray: rgb(190,188,187);
    --btn-buy: rgb(205,61,15);
}

/*+ DEBUG - TODO REMOVE */

.debug{
    border: 1px dashed black;
}

.row.debug{
    border-color: yellow;
}

[class^='col'].debug{
    border-color: red;
}

#new-releases [class^='col']{
    height: 5rem;
}

#nr-banner [class^='col']{
    height: 20rem;
}

#product-ps4 .row:first-child [class^='col']{
    height: 3rem;
}

#ps-plus [class^='col'], #ps-now  [class^='col']{
    height: 8rem;
}

#product-ps4 [class^='col'], #ps-store [class^='col'], #social [class^='col']{
    height: 5rem;
}

footer [class^='col']{
    min-height: 6rem;
}

/*! GENERICS */

body{
    padding-top: 5rem;
}

.cs-text-blue{
    color: var(--blue);
}

.cs-text-gray{
    color: var(--gray);
}

    /*+ BUTTONS */

    .btn.cs-btn-buy{
        background-color: var(--btn-buy);
        color: white;
    }

    .btn.cs-btn-info{
        background-color: var(--blue);
        color: white;
    }

/*! HEADER */

header{
    height: 5rem;
}

header img:first-of-type{
    max-height: 100%;
}

header .navbar{
    padding: 0;
}


/*! JUMBOTRON */

#jumbotron{
    height: 25rem;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

#jumbotron img{
    max-width: 50%;
}

/*! GAMES SLIDER */

#games-slider .img-thumbnail{
    border-color: transparent;
    border-width: 2px;
}

#games-slider .col:first-child .img-thumbnail{
    border-color: var(--blue);
}

/*! PRODUCT PS5 SECTION */

#product-ps5 row:last-child .col{
    border-color: transparent !important;
}

#product-ps5 .row:last-child .col:first-child{
    border-color: var(--blue) !important;
}