/*! CUSTOM PROPERTIES */

:root{
    --blue: rgb(45,100,230);
    --darkblue: rgb(0,67,156);
    --darkerblue: rgb(22,28,59);
    --darkgrey: rgb(31,31,31);
    --lightgray: rgb(190,188,187);
}

/*+ DEBUG - TODO REMOVE */

.debug{
    border: 1px dashed black;
}

.row.debug{
    border-color: yellow;
}

[class^='col'].debug{
    border-color: red;
}

#new-releases [class^='col']{
    height: 5rem;
}

#nr-banner [class^='col']{
    height: 20rem;
}

#product-ps4 .row:first-child [class^='col']{
    height: 3rem;
}

#ps-plus [class^='col'], #ps-now  [class^='col']{
    height: 8rem;
}

#games-slider [class^='col'], #product-ps5 [class^='col'], #product-ps4 [class^='col'], #ps-store [class^='col'], #social [class^='col']{
    height: 5rem;
}

footer [class^='col']{
    min-height: 6rem;
}

/*! GENERICS */

body{
    padding-top: 5rem;
}

/*! HEADER */

header{
    height: 5rem;
}

/*! JUMBOTRON */

#jumbotron{
    height: 20rem;
}

