/*! CUSTOM PROPERTIES */

:root{
    --blue: rgb(45,100,230);
    --darkblue: rgb(0,67,156);
    --darkerblue: rgb(22,28,59);
    --gray: rgb(130,130,130);
    --darkgrey: rgb(31,31,31);
    --lightgray: rgb(190,188,187);
    --cs-btn-dark: rgb(33,37,41);
    --cs-btn-danger: rgb(220,53,69);
    --cs-btn-primary: rgb(13,110,253);
}

/*! GENERICS */

    /*+ BUTTON */

    body .btn{
        border: 3px solid transparent;
        transition: all 0.5s;
    }

    body .btn:hover {
        border: 3px solid transparent;
        background-clip: padding-box;
        
    }

    body .btn.btn-dark:hover{
        box-shadow: 0 0 1px 1px var(--cs-btn-dark);
        background-color: var(--cs-btn-dark);
    }

    body .btn.btn-danger:hover{
        box-shadow: 0 0 1px 1px var(--cs-btn-danger);
        background-color: var(--cs-btn-danger);
    }

    body .btn.btn-primary:hover{
        box-shadow: 0 0 1px 1px var(--cs-btn-primary);
        background-color: var(--cs-btn-primary);
    }

    body .btn.btn-light:hover{
        box-shadow: 0 0 1px 1px white;
        background-color: white;
    }

    body .btn.btn-light.cs-text-blue:hover{
        color: var(--blue);
    }

/*! UTILS */

.cs-text-blue{
    color: var(--blue);
}

.cs-text-gray{
    color: var(--gray);
}

.cs-mw-20{
    max-width: 20%;
}

.cs-mw-50{
    max-width: 50%;
}

.cs-mw-60{
    max-width: 60%;
}

.cs-list-inside li::before{
    content: "\2022";
    color: var(--cs-btn-primary); 
    font-weight: bold; 
    display: inline-block; 
    width: 1rem;
    margin-right: 0.5rem;
}


/*! HEADER */

header{
    height: 5rem;
}

header img:first-of-type{
    max-height: 100%;
}

header .navbar{
    padding: 0;
}

header .dropdown-toggle::after{
    border: none;
    content: url(../img/chevron-down-solid.svg);
    width: 12px;
    vertical-align: middle;
}

header .dropdown-toggle:hover::after{
    content: url(../img/chevron-down-solid-hover.svg);
    width: 12px;
    vertical-align: middle;
}

header ul.drop-shadow li:hover{
    box-shadow: 0px 0px 5px 2px lightgray;
}

header ul.cs-list-inside li:hover a{
    color: var(--cs-btn-primary) !important;
}

.dropdown-toggle.show::after{
    transform: rotate(180deg) translateY(2px);
}


/*! JUMBOTRON */

#jumbotron{
    height: 25rem;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

/*! GAMES SLIDER */

#games-slider .img-thumbnail{
    border-color: transparent;
    border-width: 2px;
}

#games-slider .col:first-child .img-thumbnail{
    border-color: var(--blue);
}

#games-slider img{
    transition: transform .5s;
}

#games-slider figure:hover img{
    cursor: pointer;
    transform: translateY(-20px);
}

/*! PRODUCT PS5 SECTION */

#product-ps5 .row:last-child .col figure{
    border-color: transparent !important;
    cursor: pointer;
    transition: border-color 1s;
}

#product-ps5 .row:last-child .col:first-child figure{
    border-color: var(--blue) !important;
}

#product-ps5 .row:last-child figure:hover{
    border-color: var(--blue) !important;
}

#product-ps5 .row:last-child figure img{
    transition: opacity 1s;
}

#product-ps5 .row:last-child figure:hover img{
    opacity: 1 !important;
}



/*! NEW RELEASES SECTION */

#new-releases{
    background-color: var(--darkgrey);
}

.nr-top{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.nr-top::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.nr-top > *{
    position: relative;
    z-index: 2;
}


/*! PS PLUS SECTION */

#ps-plus {
    background-color: var(--lightgray);
}

/*! PS NOW SECTION */

#ps-now{
    background-color: var(--darkerblue);
}

/*! FOOTER */

footer{
    background-color: var(--darkblue);
}

/*! MEDIA QUERIES */

/*# BREAKPOINT LG */

@media screen and (min-width: 992px) {

    .cs-mw-lg-80{
        max-width: 80%;
    }

    /*+ DROPDOWN MENU */

    header .navbar-expand-lg .navbar-nav .dropdown-menu{
        position: fixed;
        top: 4.5rem;
        left: 0;
        right: 0;
        border-radius: 0;
        border-width: 0;
    }

}